{
    "parser": "@typescript-eslint/parser",
    "extends": [
        "plugin:svelte/recommended",
        "plugin:svelte/prettier",
        "plugin:@typescript-eslint/recommended",
        "plugin:@typescript-eslint/recommended-requiring-type-checking"
    ],
    "rules": {
        "svelte/valid-compile": ["error", { "ignoreWarnings": false }]
    }
}
